* {
  margin: 0;
  padding: 0;
}

body {
  background-color: antiquewhite;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

header {
  text-align: center;
  padding: 32px 0;
}

header h1 {
  margin-bottom: 4px;
  font-size: 28px;
  line-height: 33px;
}

header p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  line-height: 16px;
}

header h1 span {
  color: #995000;

}

header,
section {
  max-width: 300px;
  margin: 0 auto;
}

section {
  margin-bottom: 24px;
}

section h2 {
  background-color: #fed7aa;
  padding: 8px 16px;
  text-align: center;
  margin-bottom: 24px;
  font-size: 18px;
}

ul li {
  margin-bottom: 16px;
  display: flex;
}

li .details {
  max-width: 240px;
}

.details h3 {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 19px;
}

.details p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 21px;
}

/* FONTS */

h1,
h2,
h3,
.price {
  font-family: 'Roboto Serif', serif;
  text-transform: uppercase;
}

.price {
  margin-top: 50px;
}

img {
  width: 50%;
  border-radius: 5px;
}